/* GENERAL */


 html, body {
    width: 100%;
    
    font-family: Raleway;
 margin: 0;
  

}
.flexCentre {
    display:flex;
    justify-content: center;
    align-items: center;
}
.flexEnd {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flexBetween {
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.flexColumnCentre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.flexColumnAround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.flexColumnBetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.decoration {
    text-decoration: none;
}
.bordure {
    border: none;
}
.texteGras {
    font-weight: bolder;
}

.couleurB {
    color: #0065fc;
}
.couleurBC {
    color: #deebff;
}
.couleurG {
    color: #f2f2f2;
}
.backBleu {
    background-color: #0065fc;
}
.backBC {
    background-color: #deebff;
}
.backGris {
    background-color: #f2f2f2;
}

/* NAV */
.sizeNav {
    height: auto;
  }
  .sizeLiens {
   
    margin:25px
  }

 .sizeLien12{
     flex: 2;
 }

  .sizeLien {
    width: 140px;
    height: 69px;
 
  }
  .couleurLien2 {
    color: black;
  }
  .bordureNav {
    border-top: 1px solid transparent;
  }
  .bordureNav:hover {
    border-top: 1px solid #0065fc;
    cursor: pointer;
  }
  .bordureNav:hover > a {
    color: #0065fc;
  }
  .marglogo {
    margin-bottom: 7px;
    flex: 1;
  }
  .main {
    max-width: 1440px;
    margin: auto;
    padding: 0 32px;
    box-sizing: border-box;
  }
/* HEADER */
.section{
    margin:25px
}
.desktopNone {
    display: none;
}
.bordureSearch {
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid #f2f2f2;
}
.paddingSearch {
    padding-left: 20px;
}
.recherche {
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bolder;
}
.iconSize {
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;
}
.boutonSearch {
    height: 50px;
    width: 120px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
} 
.boutonSearch:hover {
    color: #0065fc;
    background-color: #f2f2f2;
}
/* FILTRES */

 .margFiltre {
     margin-top: 50px;
     margin-bottom: 20px;
 }
 .filtre {
     display: flex;
     align-items: center;
 }
 .margFiltreTitre {
     margin-right: 20px;
 }
 .filtreTextIcons {
     border: 2px solid #f2f2f2;
     height: 50px;
     border-radius: 30px;
     margin-right: 20px;
     display:flex;
    
 }
 .filtreTextIcons:hover > .filtreText {
     color: #0065fc;
 }
 .filtreTextIcons:hover > .filtreIcons {
     color: white;
     background-color: #0065fc;
 }
 .filtreText {
     height: 50px;
     padding-left: 20px;
     padding-right: 20px;
     border-radius: 0 25px 25px 0;
 }
 .filtreIcons {
     margin-left: -2px;
     border-radius: 25px;
     width: 52px;
     height: 52px;
     color: #0065fc;
     background-color: #deebff;
 }

 /* INFO ICONE */

 .info {
     display: flex;
     align-items: center;
     margin-bottom: 15px;
 }
 .parentIcon {
     width: 20px;
     height: 20px;
     border: 2px solid #f2f2f2;
     border-radius: 15px;
     margin-right: 5px;
     
 }

 /* HEBERGEMENTS */

 .sizeHebergements {
     flex: 2;
     height: 650px;
     margin-right: 20px;
     border-radius: 10px;
 }
 .sizePopulaires {
     flex: 1;
     height: 650px;
     margin-left: 20px;
     border-radius: 10px;
 }
 .blocHebergements {
     padding-left: 20px;
     padding-right: 20px;
 }
 .bloc1 {
     margin-bottom: 10px;
 }
 .bloc2 {
     margin-top: 10px;
 }
 .cubeHebergements {
     width: 30%;
     height: auto;
     background-color: white;
     padding: 1%;
     border-radius: 20px;
     box-shadow: 5px 5px 5px 1px #f2f2f2;
 }
 .cubeDetailHebergements {
     width: 90%;
 }
 .cubeHebergements:hover {
     cursor: pointer;
     transform: scale(1.1);
 }
 .imgHebergement1 {
     background-image: url("./img/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
     background-size: cover;
     background-position: center;
     width: 100%;
     height: 120px;
     border-radius: 15px 15px 0 0;
 }
 .imgHebergement2 {
    background-image: url("./img/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.imgHebergement3 {
    background-image: url("./img/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.imgHebergement4 {
    background-image: url("./img/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.imgHebergement5 {
    background-image: url("./img/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.imgHebergement6 {
    background-image: url("./img/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

/* POPULAIRES */

.blocPopu {
    padding-left: 20px;
    padding-right: 20px;
}
.blocPopu12 {
    margin-bottom: 22px;
}
.cubePopu {
    background-color: white;
    height: auto;
    padding:  1% 0 1% 1%;
    border-radius: 20px;
}
.cubePopu:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.cubeDetailsPopu {
    width: 60%;
    padding-left: 5%;
}
.imgPopu1 {
    background-image: url("./img/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}
.imgPopu2 {
    background-image: url("./img/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}
.imgPopu3 {
    background-image: url("./img/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}
 /* ACTIVITES */

 .activites {
     margin-top: 50px;
     margin-bottom: 50px;
 }
 .blocAct {
     width: 100%;
     height: 600px;
 }
 .blocAct23 {
     width: 23%;
     height: 600px;
 }
 /* reglage bloc */

 .cubeAct {
     width: 23%;
     border-radius: 15px;
     box-shadow: 5px 5px 5px 1px #f2f2f2;
 }
 .cubeAct:hover {
     cursor: pointer;
     transform: scale(1.03);
 }
 .cubeAct23 {
     width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
 }
 .cubeAct23:hover {
     cursor: pointer;
     transform: scale(1.03);
 }
 /* fin réglage bloc */

 .hauteurTitre {
     height: 70px;
 }
 .titreAct {
     display: flex;
     justify-content: flex-start;
     align-items: center;
     padding-left: 5%;
     width: 95%;
 }
 .imgAct1 {
     background-image: url("./img/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
     background-size: cover;
     background-position: center;
     width: 100%;
     height: 530px;
     border-radius: 15px 15px 0 0;
 }
 .imgAct2 {
    background-image: url("./img/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
    border-radius: 15px 15px 0 0;
}
.imgAct3 {
    background-image: url("./img/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
}
.imgAct4 {
    background-image: url("./img/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0;
}
.imgAct5 {
    background-image: url("./img/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
}
.imgAct6 {
    background-image: url("./img/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
}
/* FOOTER */
.footer {
    background-color: #F2F2F2;
    width: 100%;
  }
  .footerColumnwrapper {
    display:flex;
    align-items:stretch;

    width:  100%;

     }
  .footerColumnwrapperColumn {

    padding: 20px;
  }
  .footerColumnwrapperColumnLink {
    display: block;
    margin: 16px 0;
  }
  .footerColumnwrapperColumnLink:hover {
    text-decoration:underline;
  }
 

/* responsive */

@media screen and (max-width:1024px) {

    .cubeDetailsHebergements {
      min-height: 150px;
    }
    .sizeHebergements {
      min-height: auto;
      padding: 20px;
    }
    .sizePopulaires {
      min-height: auto;
      padding: 20px;
    }
    .tabletteSizeTitrePop {
      margin-top: 0;
    }
  }
 @media only screen and (max-width:990px){
    
    .mobileFiltreWrap {
        flex-direction: column;
        align-items: flex-start;
      }
      .filtreTexteIcons {
        margin-bottom: 20px;
        margin-top: 20px;
      }
      
      #Hebergements {
        flex-direction: column-reverse;
        width: 100%;
        margin: 0;
      }
      .blocPopu {
        flex: none;
        width: 90%;
        margin-left: 0;
        padding: 5px;
        margin: 0;
      }
      .blocHebergements {
        flex: none;
        width: 90%;
        margin-right: 0;
        margin-top: 50px;
        padding: 5%;
      }
 }
 @media screen and (max-width: 750px){
    .section{
        margin:0px
    }
     .sizeLien12 {
         margin-left:30%;

         flex: none;

     }
     .sizeLienMobile {
        width: 50%;
        border-top: none;
        border-bottom: 5px solid #f2f2f2;

    }
    .sizeLiens {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0px;
    }
    .sizeLienMobile:hover {
        border-top: 0;
        border-bottom: 5px solid #0065fc;
    }
        .bordureSearch {
        width:auto;
        border: none;
        }
     .blocHebergements{ 
         height:auto;

     }
     .bloc1{
         flex-direction: column;
        margin-bottom: 0;    
     }
     .bloc2{
         flex-direction: column;
        margin-top: 0;
     }
     .cubeHebergements{
         width: 100%;
         margin-bottom: 50px;
     }
     .cubeDetailsHebergements{
         min-height: auto;
     }
     .blocAct{
         flex-direction: column;
         height: 100%;
        
     }
     .cubeAct{
         width: 100%;
         margin-bottom: 50px;
     }
     .blocAct23{
         width: 100%;
         height: auto;
     }
     .cubeAct23{
         margin-bottom: 50px;
     }
     .imgAct1,.imgAct2,.imgAct3,.imgAct4,.imgAct5,.imgAct6 {
         height: 150px;
         width: 90%;
             }
 }
 @media screen and (max-width: 750px){
    .footerColumnwrapper {
      flex-direction: column;
      
    }
   
      
      
    .blocAProp{
        margin-left: 0px;
                
       }
    .footerColumnwrapperColumn:first-child {
      margin-top: 0;
    }
    .footerColumnwrapperColumn:last-child {
      margin-bottom: 0;
    }
    .footerColumnwrapperColumnTitle {
      margin: 0;
    }
    .footerColumnwrapperColumnLink:last-child {
      margin-bottom: 0;
    }

     .sizeLien {
         flex-direction: row;
     }
    .sizeLien12 {
         order: 1;
         width: 100%;
         margin-left: 0;
     }
     .sizeLienMobile {
         width: 50%;
         border-top: none;
         border-bottom: 5px solid #f2f2f2;

     }
     .sizeLiens {
         width: 100%;
         flex-direction: row;
         flex-wrap: wrap;
         margin: 0px;
     }
     .sizeLienMobile:hover {
         border-top: 0;
         border-bottom: 5px solid #0065fc;
     }
         .bordureSearch {
         width:auto;
         border: none;
     }
     .recherche {
         width: 200px;
         border-bottom: 1px solid #f2f2f2;
         border-top: 1px solid #f2f2f2;
     }
     .boutonSearch {
         width: 50px;
         border-radius: 15px;
     }
     .desktopNone {
         display: block;
     }
     .mobileNone {
        display: none; 
     }
     .margFiltre {
         padding-left: 5%;
     }
     .filtreText {
         padding-left: 10px;
         padding-right: 10px;
     }
     .info {
         padding-left: 5%;
     }
     .blocPopu {
         border-radius: 0;
     }
     .blocHebergements {
         background-color: white;

     }
     .mobileTitrePara {
         padding-left: 5%;
     }
     
     .blocAProp{
        margin-left: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
     }
     html, body {
         margin: 0;
         padding: 0;
     }
 }